:root {
  --height-section: 60vh;
}

.hero-container {
  position: sticky;
  top: 2.5rem;
  translate: 0 -2.5rem;
  width: 100%;
  height: var(--height-section);
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #000;
  /* z-index: -1; */
}

.rest {
  /* margin-top: var(--height-section); */
  z-index: 100;
  background-color: #fff;
}

.hero {
  /* translate: 0 -2.5rem; */
  background: url('lottery-4-transformed-hight-qualitty-2.png') no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 40px !important;
  transition: transform 2s, opacity 2s !important;
  opacity: 0.7;
}

.hero-stuff {
  position: absolute;
  top: 250px;
  left: 40px;
}

h1 {
  font-size: 55px;
  font-weight: 700;
  color: #fff;
}

a.btn {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.5px;
  padding: 11px 30px;
  background-color: #636363;
  background-image: linear-gradient(to bottom, #636363, #000);
  color: #fff;
  text-transform: uppercase;
  border-radius: 100px;
  text-decoration: none;
}

.hero:hover {
  transform: scale(1.10);
  opacity: 0.4;
}

.hero-hover .hero {
  transform: scale(1.10);
  opacity: 0.4;
}

.shadow-white {
  text-shadow: 0 0 1px white;
}

.border-text {
  -webkit-text-stroke: 1px white;
  /* color: transparent; */
}
